body{   
    background-image: url("pondok.jpg");
    background-size:cover;
  }
  .transparent{
    background:rgba(0, 0, 0, 0.5);
    width: 80%;
    height:350px;
    padding:10px;
    margin:0px auto;
    color:rgb(255, 255, 255);
    text-align:center;
  }
  .transparent h1{margin:0}
.radius {
	border-radius: 10px !important;
}

.box-login {
	margin-left: 20px;
}
ul li {
	margin-left: 30px;
}
.m-minus {
	margin-top: -8px;
}

.bg-abu {
	background-color: #d9e0e7;
}
.dropbtn {
    background-color: rgb(255, 255, 255);
    color: grey;
    padding: 9px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.767);
    min-width: 250px;
    z-index: 1;
}

.dropdown-content a {
    color: rgba(0, 0, 0, 0.5);
    padding: 9px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(255, 255, 255);}